extends layout

block content
  include header
  h1= title
  p Welcome to #{title}
  p=name
  if (typeof(data) === 'object')
    .card-deck
      each thing in data
        section.col-sm-4
          div.card
            img.card-img-top(src=thing.mediaFile)
            div.card-block
              h4.card-title=thing.name
              a(href=thing.url)=thing.name
  if (typeof(posts) === 'object')
    p total #{posts.total}
    ul
      each thing in posts.data
        li
          p=thing.text

  include footer
