extends layout

block content
  include header
  h1= title
  p Welcome to #{title}
  p=name
  if (typeof(data) === 'object')
    ul
      each thing in data
        script().
          var url = !{thing.url}
        li
          a(href=thing.url)=thing.name
  if (typeof(posts) === 'object')
    p total #{posts.total}
    ul
      each thing in posts.data
        li
          p=thing.text

  include footer
